html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600;700;800;900&family=Roboto&display=swap");
@import url("https://use.typekit.net/mas8oru.css");

.container {
  @apply self-center max-w-7xl;
}

.outer-container {
  @apply px-8 md:px-16;
}

.page {
  @apply lg:h-page h-page_md;
}
