html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600;700;800;900&family=Roboto&display=swap");
@import url("https://use.typekit.net/mas8oru.css");

.container {
  @apply self-center max-w-7xl;
}

.outer-container {
  @apply px-8 md:px-16;
}

.page {
  @apply lg:h-page h-page_md;
}

.button-dark {
  @apply border-2 border-header-black bg-header-black hover:bg-white text-white hover:text-header-black rounded-md shadow-sm;
}

.button-light {
  @apply border-2 border-header-black bg-white hover:bg-header-black text-header-black hover:text-white rounded-md shadow-sm;
}

.md\:button-light {
  @apply md:border-header-black md:bg-white md:hover:bg-header-black md:text-header-black md:hover:text-white;
}

.button-yellow {
  @apply border-2 border-header-black bg-signup-yellow hover:bg-header-black text-header-black hover:text-signup-yellow rounded-md shadow-sm;
}

.button-gray {
  @apply border-2 border-header-black bg-background-gray hover:bg-header-black text-header-black hover:text-background-gray rounded-md shadow-sm;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Raleway", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}
