.image_width {
  width: 24.5576rem;
}

.image_start {
  @apply relative;
  top: -2rem;
}

.image_moving {
  @apply relative;
  top: -2rem;
}

.image_end {
  @apply relative;
  top: -2rem;
}

.bg_focused {
  @apply bg-white;
}

.title_focused {
  @apply opacity-0;
}

.search_focused {
  @apply -translate-y-12;
}

.results_unfocused {
  @apply opacity-0;
}

@media (min-width: 768px) {
  .image_start {
    @apply relative;
  }

  .image_moving {
    @apply fixed;
    top: 40px;
  }

  .image_end {
    @apply relative;
    top: 58rem;
  }

  .bg_focused {
    @apply bg-transparent;
  }

  .title_focused {
    @apply opacity-100;
  }

  .search_focused {
    @apply translate-y-0;
  }

  .results_unfocused {
    @apply opacity-100;
  }
}

@media (min-width: 1024px) {
  .image_width {
    width: 30.4046rem;
  }

  .image_end {
    @apply relative;
    top: 68rem;
  }
}