.image_width {
  width: 24.5576rem;
}

.image_start {
  @apply relative;
  top: -2rem;
}

.image_moving {
  @apply relative;
  top: -2rem;
}

.image_end {
  @apply relative;
  top: -2rem;
}

@media (min-width: 768px) {
  .image_start {
    @apply relative;
  }

  .image_moving {
    @apply fixed;
    top: 40px;
  }

  .image_end {
    @apply relative;
    top: 58rem;
  }
}

@media (min-width: 1024px) {
  .image_width {
    width: 30.4046rem;
  }

  .image_end {
    @apply relative;
    top: 68rem;
  }
}
